<mat-sidenav-container>

  <mat-sidenav mode="side" opened>

    <button mat-button class="menu-button selected">
      <mat-icon>home</mat-icon>
      <span>My Record</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Resources</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Reports</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Quizzes</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>My Account</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab>Classes</mat-tab>
      <mat-tab>Students</mat-tab>
      <mat-tab>Notes</mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>

</mat-sidenav-container>